@use "./variables" as var;

@mixin btn-style($main-color) {
	cursor: pointer;
	font-weight: 500;
	border-radius: 5px;
	padding: 10px 25px;

	@if #{$main-color} == #{var.$black} {
		color: var.$very-dark-blue;
		background-color: rgba(var.$grayish-blue, 0.05);
	} @if #{$main-color} == #{var.$white} {
		color: var.$white;
		background-color: transparent;
	} @else {
		color: var.$white;
		background-color: $main-color;
	}

	@if #{$main-color} == #{var.$white} {
		border: 2px solid var.$white;
		box-shadow: none;

		&:hover,
		&:focus {
			color: var.$very-dark-blue-9;
		}
	} @else {
		border: 2px solid transparent;
		box-shadow: 3px 3px 5px rgba(var.$grayish-blue, 0.5);

		&:hover,
		&:focus {
			color: rgba($main-color, 0.8);
		}
	}

	&:hover,
	&:focus {
		background-color: var.$white;
		border-color: $main-color;
		transform: translateY(3px);
		transition-duration: .2s;
	}
}

@mixin bg-pattern() {
	position: absolute;
	height: var.$pattern-h;
	width: 100%;
	background-color: var.$soft-blue;
	border-radius: 200px;
	z-index: -1;
}

@mixin title() {
	font-size: 30px;
	font-weight: 500;
}

@mixin text() {
	color: var.$grayish-blue;
	line-height: 30px;
}

@mixin menu-text($font-color) {
	text-transform: uppercase;
	color: $font-color;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: .2em;

	&:hover {
		color: var.$soft-red;
		transform: translateY(3px);
		transition-duration: .2s;
	}
}