@use "./variables" as var;
@use "./mixins" as mix;

.features {
	$bg-pattern-pos: 300px;

	margin-bottom: calc(var.$content-gap + var.$pattern-h - $bg-pattern-pos);
	position: relative;

	& .tabs-container {
		width: 70%;
		margin: 0 auto 30px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: 1fr;
		text-align: center;
		border-bottom: 1px solid rgba(var.$grayish-blue, 0.3);

		@media screen and (max-width: var.$breakpoint-L) {
			width: 100%;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(3, 1fr);
		}

		& .tab {
			cursor: pointer;
			font-size: 16px;
			font-weight: 500;
			color: var.$grayish-blue;
			padding-bottom: 20px;
			border-bottom: 3px solid transparent;

			@media screen and (max-width: var.$breakpoint-L) {
				border-top: 1px solid rgba(145, 148, 161, 0.3);
				padding-top: 20px;
				position: relative;
			}

			&:hover {
				color: var.$soft-red;
			}

			&.active {
				color: var.$very-dark-blue;
				border-bottom: 3px solid var.$soft-red;

				@media screen and (max-width: var.$breakpoint-L) {
					border-bottom: 0px;

					&::after {
						content: '';
						height: 5px;
						width: 150px;
						background-color: var.$soft-red;
						transform: translateX(-50%);
						position: absolute;
						bottom: -1px;
						left: 50%;
					}
				}
			}
		}
	}

	& .tab-content {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 1fr;
		gap: 50px;
		align-items: center;
		position: relative;

		@media screen and (max-width: var.$breakpoint-L) {
			grid-template-rows: repeat(2, auto);
			grid-template-columns: 1fr;
			justify-items: center;
		}

		& .tab-img {
			@media screen and (max-width: var.$breakpoint-m) {
				width: 100%;
			}
		}

		& .tab-text {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;
			gap: 30px;

			@media screen and (max-width: var.$breakpoint-L) {
				align-items: center;
				text-align: center;
			}

			& .title {
				@include mix.title();
			}
	
			& .text {
				@include mix.text();
			}

			& .btn-more {
				@include mix.btn-style(var.$soft-blue);
			}
		}
	}

	& .bg-pattern {
		top: $bg-pattern-pos;
		right: 65%;

		@include mix.bg-pattern();
	}
}