@use "./variables" as var;
@use "./mixins" as mix;

.intro {
	text-align: center;
	max-width: 500px;
	margin: 0 auto 30px;

	@media screen and (max-width: var.$breakpoint-L) {
		max-width: 100%;
	}

	& .title {
		margin-bottom: 20px;
		@include mix.title();
	}

	& .text {
		@include mix.text();
	}
}