@use "./variables" as var;
@use "./mixins" as mix;

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50px 0;

	& .logo {
		cursor: pointer;
	}

	& .menu-container {
		display: flex;
		align-items: center;
		gap: 30px;

		& .menu {
			@include mix.menu-text(var.$very-dark-blue);

			&.login {
				@include mix.btn-style(var.$soft-red);
			}
		}
	}
}